body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
  margin: 0;
  padding: 0;
}
body {background:#fff;}
a {color:#000;text-decoration:none;}
a:active, a:hover {text-decoration:none;}
ul,ol{padding-left:0;list-style-type:none;}
.l{float:left;}
.r{float:right;}
.cl{clear:both;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.dn{display:none;}
.db{display:block;}
.dib{-moz-inline-stack:inline-block; display:inline-block;}
.di{display:inline;}
.g0{color:#000000;}
.g9{color:#999999;}
.wh{color:white;}
$nabc:#29bde0;
$pg1bc:#c9c9c9;
$pg1btc:#b3b3b3;
$pg1stc:#9a9a9a;
$pg1orahge:#fcc768;
$pg1row:#e7e7e7;
$pg1blue:#69d1e9;
$pg2green:#b9e9f5;
$pg2boxorange:#f5c07b;
$pg2darkgreen:#83b09a;
$pg3lbtn:#f66f6f;
$pg23rbtn:#fbb435;
$pg3bt:#515151;
$pgst:#bcbcbc;



