html,body{
    font-size: 10px;
    overflow-x:hidden;
}
html,body,p,div,h3{
    margin: 0;
    padding:0;
}
div{
    box-sizing: border-box;
}
/*header*/
header{
    width:100%;
    height:54px;
    background-color:#5fc0cd;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 54px;
    /*overflow: auto;*/
}
/*.inline-block{*/
   /*!*display: inline-block;*!*/
    /*!*text-align:center;*!*/
/*}*/
header img {
    width: 1rem;
    vertical-align: middle;
    margin: 7px auto;
}
.return{
    padding-left:20px;
    float:left;
}
.onepage{
    position:absolute;
    left:50%;
    margin-left:-36.7px;
    text-align: center;
    /*width: 100%;*/
    /*margin-left:-32px;*/

}
h3{
    font-size:1.8rem;
    color:#ffffff;
}
/*main*/
main{
    width: 100%;
    margin-top: 54px;
}
/*background*/
.background{
    width: 100%;
    height: 14rem;
    background: url("photo/bj.png") no-repeat;
    background-size: 100% 100%;
    /*margin-top: 54px;*/
}
.bgcolor{
     width: 100%;
    height:14rem;
     display:flex ;
    align-items: center;
    padding-left: 2rem;
}
.portrait>img{
    vertical-align: middle;
    width: 7rem;
    height: 7rem;
}
.portrait{
    margin-right:2rem;
}
.description{
    color: #ffffff;
}
.description>.nameAge{
    margin-bottom:1rem;
    width: 100%;
}
.nameAge>.name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}
.nameAge>.age{
    font-size: 1.4rem;
}
.address>img{
    width: 0.9rem;
    margin-right: 1rem;
}
.address>span{
    font-size: 1.2rem;
}
/*skill*/
.skill{
    width: 100%;
    /*height: 4rem;*/
    border-bottom: 1px solid #e1e5e7;
    line-height: 4rem;
    font-size: 1.3rem;
}
.skill>img{
    vertical-align: middle;
    height: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width:0.2rem ;
    height: 1rem;
    vertical-align: middle;
}
/*content*/
/*.content{*/
    /*margin:0 1rem;*/
    /*font-size: 1.4rem;*/
/*}*/
.content img{
    vertical-align: middle;
}
.row1{
    line-height: 4rem;
    line-height: 4rem;
    width: 100%;
    border-bottom: 1px solid #e1e5e7;
    font-size: 1.3rem;
}
.row2{
    width: 100%;
    height: 4rem;
    /*line-height: 4rem;*/
    border-bottom: 1px solid #e1e5e7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}

.row1 img{

    height: 1rem;
    margin-left: 1rem;
    /*margin-right: 1rem;*/
}
/*.row1 span{*/
    /*font-size: 1.2rem;*/
/*}*/
.rowimg{
     width: 0.1rem;
     height: 2rem;
     /*margin-left: 1rem;*/
     margin-right: 1rem;
}
.rowspan1{
    width: 6rem;
    margin-left:2rem;
    color: #999999;
}
.rowspan2{
    width: calc(100% - 9.1rem);
    margin-left: 1rem;
    color: #333333;
}
.row5{
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e5e7;
    padding-top: 1rem;
    margin-bottom: 8rem;
    height: auto;
    padding-right:2rem;
    /*display:flex;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
}
/*.left{*/
    /*width:116.92px ;*/
/*}*/
/*.row5>span{*/

    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/
/*.row5>p{*/
    /*width:calc(100% - 116.92px);*/
/*}*/

/*.row5>p{*/
    /*margin: 0  0 0 1rem ;*/
    /*!*margin-left: 1rem;*!*/
    /*display: inline-block;*/
    /*line-height: 2rem;*/
    /*font-size: 1.2rem;*/
    /*vertical-align: middle;*/
    /*width: 50%;*/

/*}*/
/*footer*/
footer{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content:space-between ;
    position: fixed;
    bottom:0;
    overflow: auto;
    background-color: #ffffff;
    /*outline: none;*/
}

/*.message, .contact{
    padding:0;
    flex: 1 50%;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    border: 1px solid #5fcffd;
    border-radius: 0.6rem;
    margin:1rem;
}*/
button{
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    margin: 1rem;
    border-radius: 0.6rem;
    border: 1px solid #5fc0cd;
}