html,body{
    font-size: 14px;
}
body,h1,h2,h3,h4,h5,h6,p,div,a,button,ul,li{
    padding: 0;
    margin: 0;
}
a,a:hover,a:active,a.onclick{
    text-decoration: none;
}
ul,li{
    list-style: none;
    text-align: center;
}
h4{
    text-align: center;
}
.header-list{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.sidebar>.panel-heading,.panel-collapse{
    width: 250px !important;
    background-color: #ffe6be;
    border: 1px solid #ffa600;
}
.panel-body li{
    line-height: 30px;
}
@media (min-width: 768px) {
    .sidebar {
        float: left;
        width: 250px;
        padding-top: 28px;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        background-color: #ffe6be;
    }
}
.navtop{
    height: 50px;
    background-color: #ffe6be;
    border: 1px solid #ffa600;
}
@media (min-width: 768px){
    .acticleList {
        float: left;
        width: calc(100% - 250px);
        padding: 30px;
        background-color: #f5f5f5;
        min-height: 100vh;
    }
}
.acticleList  .title {
    margin-bottom: 15px;
    padding: 15px 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    /*font-size: 25px;*/
}
.acticleList  .list {
    margin-bottom: 15px;
    padding: 15px 0;
    border: 1px solid #ddd;
    background-color: #fff;
}
.sider-clear{
    /*content: '';*/
    /*clear: both;*/
    /*overflow: hidden;*/
    /*min-height: 100vh;*/
}
.form-group{
    margin-bottom: 15px;
}
.col-md-8 .form-control{
    width: 100%;
    padding: 6px 15px;
    height: 34px;
}
.list-flex-right{
    float: right;
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
}
.list-flex-bettwen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .add-border{
    border: 1px solid #eeeeee;
}
 .table th ,.table td{
     text-align: center;
 }
 td{
     vertical-align: middle!important;
 }
 input[type='file']{
     display: none;
 }