html,body{
  font-size: 62.5%;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
}
a,a:hover{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
.l{float:left;}
.r{float:right;}
.cl{clear:both;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.dn{display:none;}
.db{display:block;}
.dib{-moz-inline-stack:inline-block; display:inline-block;}
.di{display:inline;}
@mixin fcc{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin fsb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bgimg{
  //width: 100%;
  height: 100vh;
  //background-color: darkcyan;
  background-color: darkseagreen;

  //background-color: #9acfea;
  .log_in{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    @include fcc;
    flex-direction: column;
    //background-color: darkgrey;
    //background-color: darkseagreen;
    background-color: darkcyan;

    //background-color: #1b6d85;
    p{
      line-height: 50px;
      font-size: 2rem;
      color: #e1e5e7;
    }
    .logtext{
      padding: 10px 0 10px 50px ;
      background-color: #fff;
      border: 1px solid #fff;
      position: relative;
      height: 50px;
      margin-top: 10px;
      border-radius: 6px;
      img{
        position: absolute;
        left: 15px;
        top: 14px;
      }
      input[type='text']{
        padding-left: 35px;
        height: 30px;
        width: 250px;
        outline: none;
        border:none;
        padding-left: 20px;
        border-left: 1px solid #e1e5e7;
        font-size: 1.2rem;
      }
    }
    button{
      width: 250px;
      font-size: 1.6rem;
    }
  }
}
#result{
  line-height: 30px;
  font-size: 1.5rem;
}