html, body {
    font-size: 62.5%;
    background-color: #f0f0f0;
}

html, body, p, div, h3, span, img, button,h4,h5,h6,h1,h2 {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

header {
    /*width: 100%;*/
    height: 4rem;
    background-color: #29bde0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9990;
}

.nav-icon {
    width: 1.6rem;
    height: 1.6rem;
    background: url(image/nav.png);
    background-size: cover;
    margin-top: 1.2rem;
    margin-left: 2rem;
}

/*.header-nav {*/

/*}*/
/*.main{*/
/*width: 100%;*/
/*background-color: #f0f0f0;*/
/*!*margin:0.12rem 0;*!*/
/*}*/
.main {
    width: 92%;
    /*line-height: 0.5rem;*/
    line-height: 9vh;
    font-size: 1.6rem;
    color: #b3b3b3;
    text-align: center;
    margin: 5.3rem auto 1.3rem;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    /*margin-top: .53rem;*/
}

.content {
    width: 92%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    position: relative;
}

.top {
    font-size: 2rem;
    line-height: 9vh;
    /*line-height: 0.45rem;*/
    text-align: center;
    color: #fcc768;
    background-color: #ffffff;
    border-bottom: 1px solid #fcc768;
}

.version {
    /*display: inline-block;*/
    /*display: inline-block;*/
    width: 82%;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    /*line-height: .7rem;*/
    line-height: 13vh;
    background-color: #69d1e9;
    margin: 1.4rem auto;
}

.description {
    font-size: 1.3rem;
    color: #9a9a9a;
    /*line-height: 0.16rem;*/
    line-height: 3vh;
    text-align: center;
}

.point {
    font-size: 1rem;
    text-align: center;
    /*line-height: .16rem;*/
    line-height: 3vh;
    margin-bottom: 1vh;
}

.circle {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    /*line-height:0.16rem;*/
    line-height: 3vh;
    border-radius: 100%; /*margin:0.03rem auto;*/
}

.blue {
    background-color: #69d1e9;
}

.white {
    background-color: #f0f0f0;
}

.triangleright {
    /*float: right;*/
    position: absolute;
    top: calc(50% - .8rem);
    left: 94%;
    /*margin-top: -.67rem;*/
    /*margin-right: calc(2.96%);*/
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1.4rem solid transparent;
    border-bottom: 1.4rem solid transparent;
    border-left: 1.3rem solid #fcc768;
}

.triangleleft {
    /*float: right;*/
    position: absolute;
    top: calc(50% - .8rem);
    right: 94%;
    /*margin-top: -.67rem;*/
    /*margin-right: calc(2.96%);*/
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1.4rem solid transparent;
    border-bottom: 1.4rem solid transparent;
    border-right: 1.3rem solid #fcc768;
}

.marbottom {
    margin-bottom: 10vh;
}

.martop {
    margin-top: 8vh;
}

.review-text {
    width: 100%;
    display: inline-block;
    /*line-height: .5rem;*/
    line-height: 9vh;
    float: left;
}

.icon1 {
    float: right;
    /*margin-top: -.33rem;*/
    margin-right: 20px;
    margin-top: -5.5vh;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-left: 3px solid #e7e7e7;
    border-bottom: 3px solid #e7e7e7;
    -webkit-transform: translate(0, 2%) rotate(-135deg);
    transform: translate(0, 2%) rotate(-135deg);
}

/*----------------------------------------------------------------------page1-------------------------------------------------------------*/
.matchheader {
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.helpimg {
    width: 48px;
    height: 48px;
    /*float: right;*/
    position: absolute;
    right: 1px;
    top: 0;
    background: url("image/circled-help.png") no-repeat;
    transform: scale(0.6, 0.6);
    /*background-size:80% 80% ;*/
}
.wrong{
    display: block;
    width: 36px;
    height: 36px;
    /*float: right;*/
    position: absolute;
    right: 15px;
    top: 6px;
    background: url("image/navr.png") no-repeat;
    transform: scale(0.6, 0.6);
    /*top: 16.5px;*/
    /*left: 15px;*/
}
header a {
    text-decoration: none;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 16.5px;
    left: 15px;
}
.leftnav{
    /*float: left;*/
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d9d9d9;
    font-size: 18px;
    line-height: 24px;
}

.rightnav{
    background-color: #fbfbfb;
    width: 80%;
}
.rightnav_num{
    height: 28vh;
    display: flex;
    /*margin: 20px 30px;*/
}
.rightnav_left,.rightnav_right{
    /*flex: 1;*/
    width: 50%;
    padding: 20px;
    font-size: 15px;
}
.numsetting{
    line-height: 6vh;
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #29bde0;
    border-top: 1px solid #d9d9d9;
}
.numsetting img{
    margin-left: 10px;
}
.people {
    height: 34vh;
    margin: 5.3rem auto 0;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 5px #e6e6e6;
    -webkit-box-shadow: 1px 1px 5px #e6e6e6;
    box-shadow: 1px 1px 5px #e6e6e6;
    display: flex;
}

.setting {
    height: 20vh;
    margin: 2vh auto;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 5px #e6e6e6;
    -webkit-box-shadow: 1px 1px 5px #e6e6e6;
    box-shadow: 1px 1px 5px #e6e6e6;
}

.number {
    height: 20vh;
    /*padding: 20px;*/
    margin: 0 auto;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 5px #e6e6e6;
    -webkit-box-shadow: 1px 1px 5px #e6e6e6;
    box-shadow: 1px 1px 5px #e6e6e6;
}

.width-content {
    width: 96%;
    /*margin: 0 auto;*/
}

.matchbutton {
    display: block;
    border: none;
    outline: none;
    background-color: #ffa600;
    line-height: 7vh;
    margin: 3vh auto 0;
    font-size: 2rem;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3vh;
}

.rolesnum {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 3vh 20px;
    font-size: 15px;
}

.rolerange {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    /*margin: 2vh auto;*/
    /*padding: 2vh 30px;*/
}

.rolerange span {
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #ffa600;
    transform: translateY(-4px);
    /*transform: rotate();*/
}
.rolerange .columnspan{
    transform: translateY( -18.5px) rotate(90deg);
}
.roleless, .rolemore {
    background: #fff;
    width: 17px;
    height: 17px;
    border: 1px solid #d9d9d9;
    outline: none;.

}

.rolesnum input {
    height: 24px;
    border: none;
    background-color: #f4f5f5;
    font-size: 18px;
    text-align: center;
    color: #ffa600;
}

#input_range_Num{
    /*margin-top: 8px;*/
    outline: none;
    -webkit-appearance: none; /*清除系统默认样式*/
    width: 68% !important;
    background: -webkit-linear-gradient(#fab344, #fab344) ,no-repeat, #ffe6be;
    /*background-size: ; !*设置左右宽度比例*!*/
    height: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /*清除系统默认样式*/
    height: 22px; /*拖动块高度*/
    width: 34px; /*拖动块宽度*/
    background: #fff url("image/rangeimg.png") no-repeat 9px;
    background-size: 40% 50%;
    /*background: url("");*/
    /*background: #fff; !*拖动块背景*!*/
    border-radius: 5px; /*外观设置为圆形*/
    border: solid 2px #fab344; /*设置边框*/
}
.center-text{
    text-align: center;
}
/*input[type=range]::-webkit-slider-thumb:after{*/
/*height: 10px;*/
/*width: 20px;*/
/*background-color: #000;*/

/*//-------------------------------------------------------------------------------------role1*/
.all{
    /*height: 100vh;*/
    background-color: #29bde0;
    /*clear: both;*/
    padding-top: 7rem;
    padding-bottom: 24vh;
}
  .role1{
      width: 80%;
      height: 60vh;
      margin: 0rem auto 10vh;
      border: 2px solid #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffedc5;
      font-size: 2.6rem;
  }
  .role1 h4{
      display: inline-block;
      width: 3.4rem;
      height: 3.4rem;
      line-height: 3.4rem;
      border-radius:3rem ;
      text-align: center;
      background-color: #fff;
      border: 3px solid #ffe6c5;
      position: absolute;
      top: 5rem;
  }
  .image2{
      width: 140px;
      height: 140px;
      margin-top: -5rem;
      display: none;
  }
  .image1{
      width: 200px;
      margin-top: 4rem;
      /*display: none;*/
  }

  .role1 p{
      margin-bottom: 2vh;
  }
  .role-b{
      /*width: inherit;*/
      padding: 2rem;
      font-size: 1.8rem;
      line-height: 2rem;
      /*border-top: 1px solid #fff;*/
  }
  .btn{

  }
  main button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 84%;
      height: 4rem;
      border: none;
      font-size: 2.3rem;
      line-height: 4rem;
      margin: 0 auto;
      background-color: #fbb435;
  }
  .important{
      letter-spacing: 2px;
  }
  #changeTwo{
      display: none;
      margin: 0 auto;
  }