html,body{
    font-size: 62.5%;
    background-color: #fafafa;
}
html,body,div,a{
    margin: 0;
    padding: 0;
}
header{
    background-color: #ffffff;
}
/*------header------*/
/*------header-top-----*/
.header-wrap-text{
    float:left;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #26a26f;
}
.header-wrap-image{
    text-align:right ;
}
.header-image{
    margin-top: 8px;
    margin-left: 10px;
}
/*-------header-bottom*/
ul{
    text-align: center;
}
@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
    }
}
.header-bottom{
    background-color: #26a26f;
}
nav.navbar{
    background-color: #26a26f;
    margin-bottom: 0;
    border: none;
}
.navbar-collapse{
    padding: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #26a26f;
    color: #ffffff;
}
.navbar-default .navbar-toggle{
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:none ;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #26a26f;
}
header ul li{
    text-align: center;
}
header ul li a{
    margin: 0 auto;
    text-align: center;
    max-width: 100px;
}
.navbar-nav li:hover{
    border-bottom:2px solid #ffffff;
}
/*----------轮播图-------*/
.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
/*------footer部分---------*/
footer{
    background-color: #26a26f;
    color: #ffffff;
    /*line-height: 20px;*/
}
/*footerlink-blogroll*/
.footer-link{
    padding-top: 10px;
    border-top: 2px solid #ffffff;
    background-color: #fff;
}
.link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blogroll-p{
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}
ul{
    text-align:left;
    padding-left: 20px;
    color:#999999;
}
li{
    flex: 1;
    justify-items: start;
}
.footer-top{
    padding: 15px;
}
.footer-first-h{
    font-size: 15px;
}
.footer-first-p{
    font-size: 12px;
}
.copyright{
    line-height: 26px;
    border-top: 1px solid #fafafa;
    text-align: center;
}
/*-----main-----*/
.center-width{
    width: 80%;
}

.icon img{
    width: 45px;
    height: 45px;
    margin-bottom: 1rem;
}
.center-text{
    text-align: center;
}
.text-p{
    font-size: 1.2rem;
    margin:2rem auto;
}
.justify-text{
    text-align:left;
    line-height: 30px;
}

.content-user{
    padding-left: 3rem;
    padding-top: 3rem;
    border-left:1px dashed  red;
}
.content-user img{
    /*padding-top: 5px;*/
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 0;
}
.main-icon-img{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    font-size: 12px;
    /*padding-left: 2rem;*/
}
.main-icon{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin: 60px auto 40px;
}
/*----优秀学员展示图---------*/

.peoplebg{
    background-color: #ffffff;
    border: 1px solid #fafafa;
    padding: 1.5rem 2rem;
}
.people1{
    margin-bottom: 20px;
}
h5{
    text-align: center;
}
.peopleimg1{
    margin: 10px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: url(image/Avatar1.png);
    background-size: 100% 100%;

}
.peopleimg2{
    margin: 10px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: url(image/Avatar2.png);
    background-size: 100% 100%;

}
.peopleimg3{
    margin: 10px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: url(image/Avatar3.png);
    background-size: 100% 100%;

}
.peopleimg4{
    margin: 10px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: url(image/pic.png);
    background-size: 100% 100%;

}
.entrepreneur{
    /*padding: 0 15px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
/**/


/*战略合作伙伴图*/
.partner{

}
.partner div{
    /*box-sizing: border-box;*/
    padding: 0;
}

@media (min-width: 1200px) {
    .col-zdlg-2-5{
        float: left;
        width:20%;
    }
}
.col-red-border{
    background-color: #ffffff;
    margin-bottom:5rem ;
}
.partner-bg{
    text-align: center;
    height: 120px;
    line-height: 120px;
    vertical-align: middle;
}
.bg1-img{
    width: 110px;
    /*height: 100px;*/
}
.bg2-img{
    width: 130px;
    /*height: 80px;*/
}
.bg3-img{
    height: 50px;
}
.bg4-img{
    width: 120px;
}
.bg5-img{
    width: 80px;
}
.partner-bg:hover{
    border: 3px solid #f8f8f8;
}
/*--战略合作企业标题 ---*/
.partner-p{
    margin:40px auto ;
    font-size: 16px;
    color: #333333;
    font-weight:bold ;
}
/*小蓝点*/
.point{
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
    /*line-height: .16rem;*/
    line-height: 3vh;
}
.circle{
    display: inline-block;
    width: .8rem;
    height: 0.8rem;
    /*line-height:0.16rem;*/
    line-height: 3vh;
    border-radius: 100%; /*margin:0.03rem auto;*/
}
.blue{
    background-color: #69d1e9;
}
.white{
    background-color: #f0f0f0;
}


/*学习路线*/
.path{
    margin-bottom: 3rem;
}
.flow-path{
    /*background-color: #ffffff;*/
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: center;
    text-align: left;
    /*line-height: 60px;*/
}
.flow-left{
    /*flex: 1;*/
    /*background: url(image/p);*/
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    margin: 2px;
    /*flex-shrink: 1;*/
}
.flow-left-span{
    position: relative;
    top: 37%;
    left:46% ;
}
.flow-center{
    width: 50%;
    margin-left:2px ;
    margin-right: 2px;
    font-size: 1px;
}
.flow-right{
    width: 40px;
    height: 40px;
    background: url(image/形状7拷贝.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 2px;
}