html,body{
    font-size: 62.5%;
    background-color: #fafafa;
}
html,body,div,a{
    margin: 0;
    padding: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3{
    width: 25%;
}
.col-xs-4,.col-sm-4,.col-md-4,.col-md-4,.col-lg-4{
    width: 33.3%;
}
.col-sm-6,.col-xs-6,.col-md-6,.col-lg-6{
    width: 50%;
}
.col-sm-8,.col-xs-9,.col-md-8,.col-lg-8{
    width: 66.66%;
}
.c0l-sm-9,.col-xs-9,.col-md-9,.col-lg-9{
    width: 75%;
}
.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{
    width: 100%;
}
/*--------------------header----------------------*/
header{
    background-color: #ffffff;
}
/*--------------header-top----------*/
.header-wrap-text{
    float:left;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #26a26f;
}
.header-wrap-image{
    text-align:right ;
}
.header-image{
    margin-top: 8px;
    margin-left: 10px;
}
/*-----------header-bottom------------*/

.jnshu-a{
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    position: absolute;
    /*left: 0;*/
    text-align: center;
    z-index: 999;
}

ul{
    text-align: center;
}
@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
    }
}
.header-bottom{
    background-color: #26a26f;
}
nav.navbar{
    background-color: #26a26f;
    margin-bottom: 0;
    border: none;
    font-size: 15px;
}
.navbar-collapse{
    padding: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #26a26f;
    color: #ffffff;
}
.navbar-default .navbar-toggle{
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:none ;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #26a26f;
}
header ul li{
    text-align: center;
}
header ul li a{
    margin: 0 auto;
    text-align: center;
    max-width: 100px;
}
.navbar-nav li:hover{
    border-bottom:2px solid #ffffff;
}
/*-------------------main---------*/
.main{
    background-color: #fafafa;
}
/*--------------------------背景图---------------------------*/
.main-bg{
    /*background-image: url("image/bg-main.png");*/
    background-color: #f1a750;
}
.img-responsive {
    /*background-color: #f1a750;*/
    display: inline-block;
    height: auto;
    max-width: 100%;
}
/*-----------------------main-tilte---------*/
.main-title{
    line-height: 4rem;
    font-size: 1.3rem;
    /*margin: 15px auto;*/
}
.left-nav{
    /*background-color: #ffffff;*/
    /*padding: 0;*/
    /*border: 1px solid #e6e6e6;*/
    border-top:0;
}
.left-nav-bg{
    background-color: #ffffff;
    padding: 1.5rem 0;
}
.left-nav-bottom{
    margin-bottom: 50px;
}
.main-text{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333333;
    border: 1px solid #e6e6e6;
}
.border-left-nav{
    border: 1px solid #e6e6e6;
    border-top: 0;
}
.bottom-border{
    /*border-bottom:1px solid #e6e6e6;*/
}
.main-left-p{
    /*margin: 13px auto;*/
    /*padding-top: 1rem;*/
    padding-bottom: 1rem;
    /*padding-left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*padding-left: calc(40%;*/
    padding-left: calc(50% - 34px);
    line-height: 2.4rem;
    font-size: 1.3rem;
    /*text-align: center;*/
    color: #29b078;
}
.border-main{
    /*border:1px solid #e6e6e6 ;*/
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    /*background-color: #26a26f;*/
    border-radius: 100%;
    border: 1px solid #ff9052;
}
.special-cirlce .main-left-span{
    color: #ff9052;
}
.special-cirlce .circle{
    background-color: #ff9052;
}
.main-left-p:hover>.main-left-span{
    color: #ff9052;
}

.main-left-p:hover>.circle{
    background-color: #ff9052;
}
/*-------------main-right---------------------*/
.right-nav{
    /*padding-left: 30px;*/
}

.border-main-right{
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem  3.5rem;
    line-height: 2.1rem;

}
.border-main-right-img{
     width: 30%;
    text-align: center;
}
.border-main-right-p{
    width: 70%;
    color: #999999;
    font-size: 1.3rem;
}
.border-main-text{
    padding: 20px 40px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-top: 0;
    margin-bottom: 80px;
    line-height: 25px;
}
.border-main-p{
    color: #999999;
    font-size: 1.3rem;
}
/*----------footer------------*/
footer{
    background-color: #26a26f;
    color: #ffffff;
    /*line-height: 20px;*/
}
@media (min-width: 500px)and (max-width:992px) {
    .col-xs-2-6{
        float: left;
        width: 50%;
    }
}
.footer-top{
    padding: 15px;
}
.footer-first-h{
    font-size: 15px;
}
.footer-first-p{
    font-size: 12px;
}
.copyright{
    line-height: 26px;
    border-top: 1px solid #fafafa;
    text-align: center;
}






/*-------------------------------------------*/
